@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Baloo;
        src: url('/fonts/baloo/regular.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: Whyte;
        src: url('/fonts/whyte/regular.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        src: url('/fonts/poppins/regular.ttf');
        font-display: swap;
    }
}


.navbar {
    @apply 
    w-[55%] py-10 flex gap-2 mx-auto justify-between 
}

.navbar-logo-text {
    @apply
    text-[30px] mt-[35px] md:text-[40px]
}

.navbar-link {
    @apply 
    hidden ml-[260px] relative text-[25px] gap-16 mt-[45px] md:flex
}

.navbar-link-a {
    @apply
    border-none duration-500 text-slate-500 hover:text-slate-900 hover:border-b-4 hover:h-9 hover:border-slate-900 hover:border-solid
}

 
.hero {
    @apply 
    overflow-hidden font-baloo relative -z-50 h-[760px] bg-[url('/img/grass.png')] bg-bottom bg-cover bg-no-repeat bg-fixed 
}

.hero-greating { 
    @apply
    container mx-auto w-[55%] md:w-[45%] py-20 relative
}

.project-collection { 
    @apply 
    w-[95%] mx-auto text-xl mt-20 grid 
    grid-cols-1
    gap-10  
    md:w-[55%] md:grid-cols-1 md:gap-32 
    lg:grid-cols-2 lg:gap-24 lg:w-[80%]
    xl:gap-20 xl:w-[60%] 
}

.link-github {
    @apply 
    py-2 px-5 w-52 mx-auto bg-white text-black rounded-xl hover:-translate-y-5 
    duration-300
    hover:shadow-xl 
    active:shadow-xl;
}