.animate_cloud {
    animation: cloud 12s infinite linear;
    width: 50%;
}

.animate_cloud1 {
    animation: cloud1 7s infinite linear;
    width: 50%; 
}

@keyframes cloud1 {
    from {
        left: -8rem;
        transform: translateX(-100%); 
    } 
    to {
        left: 100%;
        transform: translateX(0%); 
    }
}

@keyframes cloud {
    from {
        left: -14rem;
        transform: translateX(-100%); 
    }
    to {
        left: 100%;
        transform: translateX(0%); 
    }
 
}